/* You can add global styles to this file, and also import other style files */
#component {
    margin: 10px;
}
th button.btn-link {
    text-decoration: none;
    color: black;
}
div#component-header input {
    border: 0;
}